@font-face {
    font-family:"Roboto Condensed";
    src:url(https://file.garden/aUYIWVAKvQxCBY-_/fonts/roboto-2011/Roboto-Condensed.ttf);
}

@font-face {
    font-family:"TG BC";
    src:url(https://file.garden/aUYIWVAKvQxCBY-_/fonts/directv/CC_DTV_TG_BC.ttf);
}
#vmlist, #vmview {
    background-image: url(https://file.garden/aUYIWVAKvQxCBY-_/images/greensplatter.png);
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat no-repeat;
}
h5 {
    font-family: "Roboto Condensed" !important;
}

button.btn {
     font-family: "TG BC" !important;
}