#vmlist, #vmview {
    background-image: url(https://file.garden/aUYIWVAKvQxCBY-_/images/greensplatter.png);
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat no-repeat;
}