<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="icarly" stopProcessing="true">
          <match url="icarly" />
          <action type="Redirect" url="https://icarly.fandom.com/wiki/Carly_Shay" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <security>
         <ipSecurity allowUnlisted="false">
            <clear/>
            <add ipAddress="185.65.133.177" allowed="false"/>
         </ipSecurity>
      </security>
  </system.webServer>
</configuration>